<template>
  <q-page class="q-ma-lg">
    <q-carousel class="text-white q-mt-lg" arrows infinite autoplay>
      <q-carousel-slide class="bg-primary">
        <p>Slide 1</p>
      </q-carousel-slide>
      <q-carousel-slide class="bg-secondary">
        <p>Slide 2</p>
      </q-carousel-slide>
      <q-carousel-slide class="bg-tertiary">
        <p>Slide 3</p>
      </q-carousel-slide>
    </q-carousel>
    <div class="row">
      <div class="col-12 q-mt-lg">
        <q-input v-model="text" float-label="Entrez une phrase" />
      </div>
      <div v-html="message"></div>
      <div class="col-12 q-mt-lg">
        <q-btn label="Reverse" @click="handler" />
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      message: null,
      text: null
    }
  },
  methods: {
    handler () {
      if (!this.message) {
        this.message = '<div class="col-12 q-mt-lg"><p class="q-caption text-negative">Vous devez remplirer la zone de text!</p></div>'
      } else {
        this.message = '<div class="col-12 q-mt-lg"><p class="q-caption">Resultat : ' + this.text.split('').reverse().join('') + '</p></div>'
      }
    }
  }
}
</script>
