<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="negative" :glossy="$q.theme === 'mat'" :inverted="$q.theme === 'ios'">
        <q-toolbar-title>
          <q-btn @click="openModal = true" label="Connexion" class="float-right" />
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
      <router-view />
      <q-modal v-model="openModal" :content-css="{minWidth: '30vw', minHeight: '50vh'}">
        <div class="row">
          <div class="col-10">
            <h5 class="float-left q-ma-sm">Connectez-vous</h5>
          </div>
          <div class="col-2 ">
            <q-btn rounded push flat=true @click="openModal = false" icon="mail" class="float-right q-ma-sm"/>
          </div>
        </div>
      </q-modal>
    </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'MyLayout',
  data () {
    return {
      openModal: false
    }
  }
}
</script>
